*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
html{
    scroll-behavior: smooth;
}
.section1{
    background-image: url("https://wallpapers.com/images/hd/dark-laptop-white-cordless-keyboard-fdtwdtsmuwgo6x0b.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.logo{
    color: #3fc49a;
    display: flex;
    gap: 10px;
    padding-top: 15px;
    padding-left: 20px;
}
.fa-music{
    font-size: 40px;
}
.nav-contact{
    margin-top: 15px;
    margin-left: 600px;
    font-size: 20px;
    display: flex;
    gap: 60px;
}
.nav-contact>a{
    text-decoration: none;
    color: white;
}
.contact:hover{
    color: #3fc49a;
}
.intro > h1{
    margin-left: 60px;
}
.intro{
    padding-left: 620px;
    padding-top: 300px;
    font-size: 30px;
    color: white;
}
.communication{
    margin-left: 70px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.fa-linkedin-in ,.fa-instagram,.fa-github{
    color: white;
    font-size: 30px;
}
.image-holder{
    width: 50px;
}
.about_me{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top:150px;
    margin-bottom: 170px;
    justify-content: space-between;
}
.content-para{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}

.content > .head{
    font-size: 40px;
    color: #3fc49a;
}
.image-holder > div{
    margin-top: 40px;
    margin-left: 70px;
    width: 320px;
    z-index: -1;
    position: absolute;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(130, 217, 189);

}
.content > h3{
    font-size: 1.2rem;
    font-weight: 200;
}
.my_image{
    margin-top: 100px;
    margin-left: 10px;
    width: 320px;
    height: 250px;
    border-radius: 20px;
}
.courses{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 40px;
}

.percentage{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.course_topic{
    margin-top: 60px;
    text-align: center;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 10px;
    border-style:solid ;
    box-shadow: grey 0px 0px 7px;
    background-color: grey 0px 0px 7px;
}
.child1{
    border-color: rgb(68, 252, 75) rgb(68, 252, 75) rgb(68, 252, 75) rgb(240, 240, 240);
}
.child2{
    border-color: rgb(51, 200, 229) rgb(51, 200, 229) rgb(240, 240, 240) rgb(51, 200, 229);
}
.child3{
        border-color: rgb(252, 41, 122) rgb(240, 240, 240) rgb(240, 240, 240) rgb(252, 41, 122);
}
.child4{
    border-color: rgb(250, 225, 74) rgb(240, 240, 240) rgb(240, 240, 240) rgb(250, 225, 74);
}

.projects{
    background-color:#e0f8f0;
}
.project-container{
   margin-left: 220px;
   margin-right: 220px;
   padding-top: 70px;
   padding-bottom: 130px;
}
.project-container > h1{
    color: #3fc49a;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.boxes > .box{
      width: 500px;
      height: 300px;
      border-radius: 20px;
      background-color:#85e1c4;
      border: 1px solid black;
}
.boxes{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.project1{
    width:400px;
    height: 225px;
    border-radius: 20px;
    margin-left: 48px;
    margin-top: 25px;
     border: 1px solid green;
}
.project-link{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 7px;

}
.globe{
    color: black;
}
.globe:hover{
    color: white;
}
#testimonial{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
}
#testimonial > .head{
    font-size: 40px;
    color: #3fc49a;
    margin-bottom: 50px;
}
.flex{
    display: flex;
}
.frds_image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.contact-me-container{
   margin-left: 280px;
   margin-right: 300px;
   padding-top: 70px;
   padding-bottom: 40px;
}
.persons > p{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.persons > h5{
    font-weight:200;
}

.fa-map-location-dot{
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    color: #3fc49a;
    font-size: 20px;
}
.Address{
    text-align: center;
}
.fa-map-location-dot:hover{
    background-color: #3fc49a;
    color: white;   
}
.Address-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.Address > p{
    font-size: 19px;
}
.Address >h3{
    font-size: 19px;
    font-weight:100
}
.contact-me-container >p{
    font-size: 40px;
    text-align: center;
    color: #3fc49a;
    margin-left: 50px;

}
.wrap-name-email{
    margin-top: 30px;
    display: flex;
    gap: 50px;
}
input{
    padding: 15px;
    margin-left: 30px;
    width: 400px;
    border: 1px solid white;
    border-radius: 10px;
}
textarea{
    margin-top: 20px;
    margin-left: 30px;
    width: 875px;
    padding: 15px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid white;
}
textarea:focus,input:focus{
    outline: none;
    border-color: #3fc49a;
}
button{
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #3fc49a;
    color: black;
    border: 1px solid white;
}
footer {
    background-color: black;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:silver;
}
.auto-type{
    margin-left: 50px;
    color: #3fc49a;
    font-size: 23px;
}







@media (max-width: 768px) {

  html, body {
    width: 100%;
    overflow-x: hidden;
  }


  .section1 {
    min-height: 100vh;  
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .nav-contact {
    margin-left: 0 !important;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;      
    align-items: center;
    gap: 15px;
    font-size: 16px;
    text-align: center;
  }

  .nav-contact a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .intro {
    margin-left: 0 !important;
    padding: 180px 20px 40px;
    font-size: 22px;
    text-align: center;
  }

  .intro > h1 {
    margin-left: 0;
  }

  .auto-type {
    margin-left: 0;
    display: block;
    text-align: center;
  }

  .communication {
    margin-left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
  }

  
  .about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 60px 20px;
    gap: 20px;
  }

  
  .content .head {
    margin-bottom: 10px;   
  }

  .image-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0 20px;
  }

  .image-holder > div {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 160px;
    border-radius: 16px;
    background-color: rgb(130, 217, 189);
    z-index: 0;
  }
.course_topic {
    margin-top: 45px;
    text-align: center;
}
  .my_image {
    width: 230px;
    height: 160px;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    display: block;
  }


  .courses {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .project-container {
    margin: 0;
    padding: 60px 20px;
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .boxes > .box {
    width: 100%;
  }

  .project1 {
    width: 90%;
    height: 70%;
    margin: 20px auto;
  }

  .project-link {
    margin-left: 0;
    justify-content: center;
  }

  .contact-me-container {
    margin: 0;
    padding: 60px 20px;
    text-align: center;
  }

  .wrap-name-email {
    flex-direction: column;
    gap: 20px;
  }

  #testimonial{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

  input,
  textarea {
    width: 100%;
    margin-left: 0;
  }

  button {
    margin-left: 0;
    width: 100%;
  }

  .Address-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
